
QStatusBar
{
	background-color: #8D8D8D;
	background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:1, stop:0 #C0C0C0, stop:1 #D3D3D3);
	min-height: 25px;
	color: #222222;
}

QStatusBar > QLabel
{
	margin: 4px;
	color: #222222;
	font-size: 11px;
	background: transparent;
}

QStatusBar::item
{
	border: 0px;
}

QStatusBar > QPushButton
{
	max-height: 16px;
	min-height: 16px;
	padding: 2px;
	icon-size: 15px;
	background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #B0B0B0, stop: 0.2 #9F9F9F, stop: 0.8 #9F9F9F, stop: 1.0 #969696 );
	border: 1px solid #A0A0A0;
	border-radius: 3px;
}

QStatusBar > QComboBox
{
	background-color: #DFDFDF;
	max-height: 16px;
	min-height: 16px;
}

QStatusBar QComboBox:hover
{
	background-color: #DFDFDF;
}

QStatusBar > QComboBox
{
	padding: 2px 8px;
}

QStatusBar > QPushButton:checked
{
	background-color: #5BA5D5;
	border: 1px solid #CCCCCC;
}

QStatusBar > QComboBox::drop-down 
{
	border-left-width: 0px;
}


#HammerStatusBar
{
	min-height: 30px;
}
#HammerStatusBar QLabel
{
	margin: 0px;
}
#HammerStatusBar QComboBox
{
	min-height: 0px;
}

#HammerStatusBar QToolBar
{
	padding: 0px;
	min-height: 0px;
}
#HammerStatusBar QToolButton
{
	padding: 0px 4px;
}
