
QTextEdit
{
    padding-left: 3px;
    background-color: #C0C0C0;
    color: #333333;
    border-radius: 3px;
	border: 1px solid #A0A0A0;
}

QTextEdit:focus
{
    border: 1px solid #2a5f7d;
}

QLineEdit
{
    padding-left: 3px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #D3D3D3, stop:1 #BEBEBE);
    background-color: #C0C0C0;
    color: #333333;
    border: 1px solid #A0A0A0;
    border-radius: 3px;
    min-height: 19px;
}
QLineEdit[type="1"]
{
    /* border: 0px; */
}

QLineEdit:focus
{
    border: 1px solid #2a5f7d;
}
