/*
QMainWindow
{
	background: #111415; 
}

QMainWindow::separator
{ 
	width: 4px; 
	height: 4px;
	background: #333;
	border-left: 4px solid black;
	border-right: 4px solid black;
}

QMainWindow > QToolBar
{
	padding: 5px;
	border-style: outset;
}

*/

QMainWindow
{
	background: #5a6850; 
	border: 1px solid #222;
}

QMainWindow:active
{
	background: #4C5844; 
	border: 1px solid #373737;
}

QMainWindow::separator
{ 
	width: 4px; 
	background: transparent;
}

QMainWindow::separator:hover, QMainWindow::separator:pressed
{ 
	background: #2a5f7d;
}


QSplitter 
{
	margin: 0px;
	background: transparent; 
}

QSplitter::handle:horizontal 
{ 
	width: 4px; 
	background-color: #1a191a; 
}

QSplitter::handle:vertical 
{ 
	height:6px; 
	background-color: #1a191a; 
}

QSplitter::handle:hover, QSplitter::handle:pressed
{
	background: #2a5f7d;
}

QToolTip
{
	background: #333;
	color: #e0e0e0;
}

QStatusBar
{
	background-color: #464F3E;
	min-height: 25px;
	color: #ddd;
}

QStatusBar > QLabel
{
	margin: 4px;
	color: #ddd;
	font-size: 11px;
}
