/*
QMainWindow
{
	background: #111415; 
}

QMainWindow::separator
{ 
	width: 4px; 
	height: 4px;
	background: #333;
	border-left: 4px solid black;
	border-right: 4px solid black;
}

QMainWindow > QToolBar
{
	padding: 5px;
	border-style: outset;
}

*/

QDialog
{
	background: #C0C0C0;
	border: 1px solid #A0A0A0;
}

QMainWindow
{
	background: #BEBEBE; 
	border: 1px solid #A0A0A0;
}

QMainWindow:active
{
	background: #D3D3D3; 
	border: 1px solid #7D7D7D;
}

QMainWindow::separator
{ 
	width: 4px; 
	background: transparent;
}

QMainWindow::separator:hover, QMainWindow::separator:pressed
{ 
	background: #2a5f7d;
}


QSplitter 
{
	margin: 0px;
	background: transparent; 
}

QSplitter::handle:horizontal 
{ 
	width: 4px; 
	background-color: #B8B8B8; 
}

QSplitter::handle:vertical 
{ 
	height:6px; 
	background-color: #B8B8B8; 
}

QSplitter::handle:hover, QSplitter::handle:pressed
{
	background: #2C80D3;
}

QToolTip
{
	background: #A0A0A0;
	color: #1F1F1F;
}

QFrame
{
	background: #D3D3D3;
	background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:1, stop:0 #A9A9A9, stop:1 #BEBEBE);
	
	color: #333333;
	border: 0px;
}

QFrame[type="1"]
{
	background: #A9A9A9;
	color: #333333;
	border: 0px;
}

QFrame[type="1"] QLabel
{
	background: #A9A9A9;
}

QFrame[type="2"]
{
	background: #A9A9A9;
	background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:1, stop:0 #A9A9A9, stop:1 #B8B8B8);
	color: #333333;
	border: 0px;
	border-bottom: 1px solid #A9A9A9;
}
