# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ipch

# Precompiled Headers
*.gch
*.pch

src/.vs
intermediate/
.vs/
build/

# Compiled Dynamic libraries
*.so
*.dylib
*.pdb

# Fortran module files
*.mod
*.smod

*.tlog
