
QGroupBox 
{
    border: 1px solid #555;
    border-radius: 4px;
    padding: 5px 5px;
    padding-top: 15px;
    font-size: 11px;
    color: #ccc;
}

QGroupBox::title 
{
    color: #ccc;
    margin: 10px;
    left: 20px;
    top: -12px;
}
