
QListView
{
    outline: 0;
    background-color: #111;
}

QListView[type="2"]
{
    background-color: #111;
}

QListView::item
{
	border: 1px solid transparent;
	border-radius: 2px;
    padding-bottom: 4px;
}

QListView::item:hover
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:1 #333333, stop:0 #606060);
    color: white;
    /* border: 1px solid;
    border-color: #2a5f7d; */
}

QListView[type="2"]::item:hover
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212C33, stop:0 #4C6B7C);
    color: white;
    border: 1px solid #2a5f7d;
}

QListView::item:selected
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:1 #333333, stop:0 #7C7C7C);
    /* border: 1px solid;
    border-color: #2a5f7d; */
    color: white;
}

QListView[type="2"]::item:selected
{
    background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:1, stop:1 #1C2C35, stop:0 #2a5f7d);
    border: 1px solid;
    border-color: #2a5f7d;
    color: white;
}

QListView::item:selected:!active
{
    color: #CCC;
}
