
QMenuBar
{
	background: transparent;
	padding: 0px;
    margin-bottom: 2px;
	color: #bbb;
	border: 0px;
	padding-left: 4px;
}

QMenuBar:active
{
	color: #ddd;
}

QMenuBar::item 
{
    padding: 6px 6px;
    background: transparent;
}

QMenuBar::item:selected 
{
	background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:1, stop:1 #2a2a2a, stop:0 #424242);
    color: white;
}

QMenuBar::item:pressed 
{
    background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:1, stop:1 #1C2C35, stop:0 #2a5f7d);
	color: white;
}

QMenu
{
    background-color: #0A0A0A;
	border: 1px;
    padding: 0px;
    margin: 0px;
	color: #ccc;
}

QMenu::icon, QMenu::indicator
{
    left: 10px;
}

QMenu::item 
{
    background-color: #141414;
    padding: 5px 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0px;
    min-width: 10px;
}

QMenu::item:selected 
{
    background: #2a5f7d;
    background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:1, stop:1 #1C2C35, stop:0 #2a5f7d);
	color: white;
}

QMenu::item:disabled
{
    color: #666;
}

QMenu::item:disabled:selected
{
    color: #777;
    background: transparent;
}

QMenu::separator 
{
    height: 1px;
    background: #0E0E0E;
    margin-left: 0px;
    margin-right: 0px;
}

QMenu::indicator 
{
    width: 13px;
    height: 13px;
}
