
QTextEdit
{
    padding-left: 3px;
    background-color: #111;
    color: #ccc;
    border-radius: 3px;
	border: 1px solid #333;
}

QTextEdit:focus
{
    border: 1px solid #2a5f7d;
}

QLineEdit
{
    padding-left: 3px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #0c0c0c, stop:1 #161616);
    background-color: #111;
    color: #ccc;
    border: 1px solid #333;
    border-radius: 3px;
    min-height: 19px;
}
QLineEdit[type="1"]
{
    /* border: 0px; */
}

QLineEdit:focus
{
    border: 1px solid #2a5f7d;
}
