QTreeView 
{
    show-decoration-selected: 0;
    padding: 0px;
    color: #888;
    qproperty-indentation: 20;
    font-size: 12px;
    background-color: #111;
    alternate-background-color: rgb(27, 27, 27);

    outline: 0;
    border: 0px indent #222;
}

QTreeView::item 
{
    padding: 2px 0px;
    padding-right: 5px;
    outline: none;
}

QTreeView::item:hover
{
    color: #ccc;
    background-color: #4C6B7C;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212C33, stop:0 #4C6B7C);
}

QTreeView::item:selected
{
    color: #ccc;
    background-color: #234457;
    background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:1, stop:1 #1C2C35, stop:0 #2a5f7d);
    /* border-bottom: 1px solid #111; */
    border-top: 1px solid #2a5f7d;
    outline: none;
}

QTreeView::branch:open:has-children
{
    image: url(":/icons/triangle-down.svg");
}

QTreeView::branch:closed:has-children
{
    image: url(":/icons/triangle-right.svg");
}

QTreeView::branch:selected
{
    /* background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:1, stop:1 #1C2C35, stop:0 #2a5f7d); */
    /* border-bottom: 1px solid #111; */
    border-top: 1px solid #2a5f7d;
}

/* 
QTreeView::item QLineEdit
{
    background-color: transparent;
    border: 0px;
    font-size: 12px;
}

QTreeView::item QLineEdit:focus
{
    border: 0px solid #aaa;
    background-color:rgba(49, 58, 75, 0.9);
    color: white;
} */
